* {
    margin: 0;
    padding: 0;
    /* font-family: serif ,Trebuchet MS; */
    ;


}

/* BANNER 1 */
/* THE BACKGROUND CONTAINER  */
.banner {
    width: 100%;
    height: 500px;
    /* the linear gradient color adds a top color on the image  */
    /* background-image:#fff; */
    /* url(../images/index-backround.jpg); */
    background-size: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.237), rgba(0, 0, 0, 0.75)), url(../img/bannerimage.jpg);

}

.navbar {
    width: 100%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    /* spaces out the divs */
    justify-content: space-between;
    background-color: #f1eee9;
    /* Add drop shadow */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    font-family: Trebuchet MS;

}

.banner h1 {
    width: 110px;
    cursor: pointer;
    color: #000000;
    padding-left: 5%;
    font-size: 20px;
    font-family: 'Trebuchet MS';

}

h1 a {
    color: inherit;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    cursor: pointer;
}

.banner ul li {
    /* MENU DISPLAY */
    list-style: none;
    /* makes the menu horizontal :*/
    display: inline-block;
    margin: 0 20px;
    padding-right: 30px;
    font-size: 15px;
}

/* you cant put the color and display functionality in the same brac */
/* instaed we put it in the same titled brac but add an a at the end  */

.banner ul li a {
    /* MENU STYLE */
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;

}

.banner ul li a:hover {
    /* MENU HOVER STYLE */
    color: #4b847d;
    transition: color 0.3s ease;
}

.user-profile {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    /* Vertically center the icon */
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.user-profile img:hover {
    opacity: 0.8;
}

.content {
    width: 100%;
    position: relative;
    top: 50%;
    /* makes it vertiaclly centered */
    transform: translateY(-50%);
    text-align: center;
    padding-top: 50px;
    padding-top: 50px;


}

.content>* {
    color: #000000;
}

.content h2 {
    text-transform: uppercase;
    font-size: 40px;
    color: #f1eee9;
    text-shadow: 2px 2px 5px #00000058;

}

.content p {
    font-size: 15px;
    padding-top: 2%;
}

.content button {
    width: 150px;
    font-size: x-small;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    /* males the border look round from the corner */
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #4b847d;
    background: transparent;
    color: #f1eee9;
    ;
    cursor: pointer;
    /* position relative is for the hover/span  */
    overflow: hidden;
    position: relative;
}

.content button span {
    background: #4b847d;
    height: 100%;
    /* the width is 0 here as with the hover transition it will become 100 */
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    /* to move the span behind the text */
    z-index: -1;
    transition: 0.5s;
}

/* makes the span/ background fully apear */
.content button:hover span {
    width: 100%;
}

/* removed the border when hovering / span moving */
.content button:hover {
    border: none;
}


/* --------------------------------------------------------------------- */
/* BANNER 0.5 */
.content05 h4 {
    font-size: 40px;
    color: #4b847d;
    text-shadow: 2px 2px 5px #00000058;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 17px;
}

.banner05 {
    background-color: #f1eee9;
    width: 100%;
    height: 460px;
    /* the linear gradient color adds a top color on the image  */
    /* background-image:#fff; */
    /* url(../images/index-backround.jpg); */
    background-size: cover;
    background-position: center;

}

.images {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*  4 columns */
    grid-template-rows: repeat(1, 1fr);
    /* 1 rows */
    gap: 5%;
    /* Optional: add space between grid items */
    height: 50%;
    /* Make sure the wrapper takes full height */
    overflow-y: auto;
    /* Enable vertical scrolling if content overflows */
    padding-right: 10%;
    box-sizing: border-box;

}

.images img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 8px;
    padding: 20px;
    padding-left: 20%;
    align-items: center;
    box-shadow: 0 6px 12px #0000005f;


}

/* --------------------------------------------------------------------- */

/* BANNER 2 */

.banner2 {
    background-color: #4b847d;
    width: 100%;
    height: 50%;
    /* the linear gradient color adds a top color on the image  */
    /* background-image:#fff; */
    /* url(../images/index-backround.jpg); */
    background-size: cover;
    background-position: center;
    display: flex;
    TOP: 30%;

}

.content2 {
    width: 60%;
    position: relative;
    padding-left: 30px;
    /* makes it vertiaclly centered */
    /* transform: translateY(-50%); */
    text-align: left;
    padding-top: 10%;
    text-shadow: 2px 2px 5px #00000058;



}

.content2 h3 {
    font-size: 50px;
    color: #f1eee9;
    /* 2px 2px specifies the horizontal and vertical offset of the shadow.
    5px is the blur radius, which controls how blurry the shadow appears.
    */
    text-shadow: 2px 2px 5px #00000058;
}

.content2 p {
    font-size: 20px;
    padding-top: 10%;
    font-family: Trebuchet MS;
    color: #f1eee9;
    width: 80%
}

.aboutimage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;

}

.aboutimage img {
    /* width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s; */

    width: 80%;
    height: 70%;
    object-fit: cover;
    border-radius: 8px;
    padding: 20px;
    align-items: center;
    box-shadow: 0 6px 12px #0000005f;



}

/* BANNER 3 */
.banner3 {
    background-color: #192f2c;
    width: 100%;
    display: flex;
    padding: 3pc 0px;
}

.content3 {
    width: 100%;
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Trebuchet MS", sans-serif;
    margin: 0 auto;
    padding: 10px;
    width: 90%;
    color: #f1eee9;
    /* Optional: Adjust text color to match your design */
}

.content3 h5 {
    font-size: 14px;
    padding-left: 45px;
    padding-right: 10px;
    font-family: "Trebuchet MS", sans-serif;
    color: #f1eee9;
    /* Optional: Adjust text color to match your design */
}

.sections a {
    color: #f1eee9;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sections a:hover {
    color: #4b847d;
}